.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
}

.app-body {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.bottom-bar {
  height: 1px;
  background-color: #333;
  width: 100%;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .app-body {
    flex: 1;
    overflow: auto;
  }
}

@media (max-width: 480px) {
  .app {
    height: 100vh;
    overflow: hidden;
  }

  .app-body {
    position: relative;
    flex: 1;
    overflow: auto;
  }

  .bottom-bar {
    display: none;
  }
}

