.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
}

.app-body {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.bottom-bar {
  height: 1px;
  background-color: #333;
  width: 100%;
}

